* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
:root {
    --button: #FF0000;
    --aside-background: #C4C4C4;
    --background: #E5E5E5;
    --text: #000;
    --footer: #000;
    --text-description: #9C9696;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 10vh 120vh 20vh;
    grid-template-areas:"h a"
                        "m a" 
                        "f f"  ;
    background-color: #E5E5E5;
}

header {
    grid-area: h ;
    
    
}
.header__content {
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}

.icons__header {
    background-image: url(assets/icon-search.svg);
    background-repeat: no-repeat;  
    text-align: center;
    justify-content: center;
    border: none;
    padding: 3px;
    border-radius: 5px;
}

.menu-link__header {
    display: flex;
    
    list-style-type: none;
    gap: 100px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3px;
}

.menu--link__header {
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 18px;
    
}
.menu--link__header:hover {
    background-color: #000;
    color: white;
}
main {
    grid-area: m;
    
}
.main__content {
    margin: 100px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.btn__main {
    padding:25px 70px ;
    background-color: #FF0000;
    color: white;
    font-family: sans-serif;
    font-weight: 400;
    border: none;
    
}
.btn__main:hover {
    background-color: #000;
    
}
aside {
    grid-area: a;
    background-color: #C4C4C4;
}
.asine__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.--aside__content img{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
    
}

footer {
    grid-area: f;
    
}
.footer__content {
    display: flex;
    justify-content: space-between;
}
.menu__footer {
    display: flex;
    align-items: center;
    list-style-type: none;
    font-size: 18px;
    font-weight: bold;
    color: black;
    padding: 30px;
    gap: 80px;
}

.btn--menu__footer {
    padding: 70px 150px;
    background-color: #000;
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
}

.btn--menu__footer:hover {
    background-color: #FF0000;   
}

.--footer__content {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;

    }
    .header__content {
        flex-direction: column;
    }
    .icons__header {
     background-image: none;
    }
    .menu-link__header {
        flex-direction: column;
        gap: 40px;
    }
    .main__content {
        flex-direction: column;
    }
    .asine__content img{
        flex-direction: column;
        max-width: 50%;
    }
    .footer__content {
        flex-direction: column;
    }
    .menu__footer {
        flex-direction: column;
        gap: 40px;
    }
    .btn--menu__footer {
        padding: 75px 130px;
        background-color: #000;
    }
}